<h1>novedades</h1>
<!--
<div>
    <ul>
        @for (items of datas; track items.id) {
            <h2>{{ items.nombre }}</h2>
            <p>Cantidad Máxima: {{ items.cantidadMaxima }}</p>
            <p>Fecha de Creación: {{ items.fechaCreacion }}</p>}
             @empty {
            <p>cargando...</p>
            }
    </ul>
</div>


<div>
    <ul>
        @for (item of dataLocal; track item.id) {
            <h2>{{ dataLocal.nombre }}</h2>
            <p>Cantidad Máxima: {{ dataLocal.cantidadMaxima }}</p>
            <p>Fecha de Creación: {{ dataLocal.fechaCreacion }}</p>
            @for (items of dataLocal.Fotos; track items.id) {
                <h4>{{ foto.descripcion }}</h4>
                <p>Nombre de Archivo: {{ foto.nombreArchivo }}</p>
                <p>Tamaño: {{ foto.tamaño }}</p>
                <p>Personas en la Foto: {{ foto.personasEnFoto.join(', ') }}</p>
                <hr>
            } @empty {
            <p>cargando...</p>
            }
    </ul>
</div>-->